# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\MUHAMMAD_UMAIR_MUBASHER\PUCIT\5thSemester\WebEngineeringLAB\A-Lab04-BSEF18A038-MUHAMMAD UMAIR MUBASHER\Problem-01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
