# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\MUHAMMAD_UMAIR_MUBASHER\PUCIT\5th_SEMESTER\WEB_Engineering_LAB\A-Lab10-BSEF18A038 MUHAMMAD UMAIR MUBASHER\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
